.git
.github
.env
**/.env
**/.env.*
!**/.env.example

app-laravel/vendor
app-laravel/node_modules
app-laravel/public/build
app-laravel/bootstrap/cache/*.php
app-laravel/storage/logs
app-laravel/storage/framework/cache
app-laravel/storage/framework/sessions
app-laravel/storage/framework/views

legacy-code

bfg.jar
**/bfg*.jar
composer.phar
**/composer*.phar
*.phar