APP_NAME=AppSecScout
APP_ENV=testing
APP_KEY=
APP_DEBUG=false
APP_URL=http://localhost:8080

DB_CONNECTION=mysql
DB_HOST=mysql
DB_PORT=3306
DB_DATABASE=appsec_scout_test
DB_USERNAME=appsec_scout
DB_PASSWORD=password

CACHE_STORE=array
SESSION_DRIVER=array
QUEUE_CONNECTION=sync

REDIS_HOST=redis
MAIL_MAILER=array
BROADCAST_CONNECTION=null
